node_modules
cjs/*
esm/*
umd/*
.idea
coverage
build/*
.turbo
packages/*/build
vite.config.*.timestamp*
vitest.config.*.timestamp*
.nx/**
./.nx/**/*
./.nx
./.nx/
.npmrc
.nx/cache
.nx/workspace-data
.yarn/*
.yarn/cache
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*