node_modules
cjs/*
esm/*
umd/*
.idea
coverage
build/*
.turbo
packages/*/build
vite.config.*.timestamp*
vitest.config.*.timestamp*
.nx/**
./.nx/**/*
./.nx
./.nx/
.npmrc
.nx/cache
.nx/workspace-data
.yarn/*
.yarn/cache
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
